




.cards-container {
    padding: 6vh 8vh;
    
    
}

.card-heading h2{
    text-align:center;
}
.card-item{
    
    display: flex;
    /* justify-content:space-around; */
    flex-wrap: wrap;
    align-items:center ;
    gap: 14px;
 
    
    
    
}

.view-all-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}


.view-all-btn button {
    width: 160px;
    height: 45px;
    margin-top: 30px;
    padding: 16px 54px 16px 54px;
    gap: 12px;
    border-radius: 62px;
    border: 1px;
     

}


/* 
rating 
*/

.rating {
    font-size: 1.5rem;
    display: inline-grid;
    grid-template-areas: "full";
    position: relative;
    color: #ffc633;
    
    
}
  
  .rating::before {
    content: "★★★★★";
    grid-area: full;
    overflow: hidden;
    white-space: nowrap;
    width: calc((var(--rating, 0) / 5) * 100%);
    color: #ffc633;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .rating::after {
    content: "☆☆☆☆☆";
    grid-area: full;
    white-space: nowrap;
    color: #d3d3d3;
  } 

  .rating_price_title{
    text-align: center;
  }
